body{
    background-color: #cccccc !important;
}

.container-fixed {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 550px;
    position: relative;
    background-color: #fff;
    margin-top: 40px;
}


#menu {
    width: 80px;
    height: 100%;
    background: #fff;
    float: left;

}


#menu button{
    margin-top: 10px;
    margin-left: 15px;
}
.menu-icon-1,.menu-icon-2,.menu-icon-3,.menu-icon-4 {
    height: 50px;
    width: 50px;
}


#content {
    width: auto;
    height: 100%;
    float: left;
    padding: 10px;
}

.btn-success{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 180px;
    height: 40px;
    line-height: 1.8 !important;
}

.color{
    float: right;
    margin-top: 5px;
    width: 180px;
    height: 34px;
    height: 40px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8 !important;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #cccccc;
   
}

.color div{
    height: 25px;
    width: 25px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #cccccc;
    position: absolute;
    right: 30px;
    top: 12px;
}



#font-option{
    height: 100%;
    width: 280px;
    float: left;
    background-color: rgb(77,77,77);
    padding: 10px;
    position: relative;
}

#font-option, #product-view, #get-quote-view{
    display: none;
    height: 100%;
}

.glyphicon-top{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#get-quote-view .glyphicon, #font-option .glyphicon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
